<div class="row">
    <div class="col-12">
        <h1 class="text-center">
            Add Post
            <button mat-mini-fab color="accent" (click)="onAddPost()">
                <mat-icon>add</mat-icon>
            </button>
        </h1>
    </div>
</div>

<div class="row">
    <div class="co-md-6 offset-md-3">
        <app-post-card (emitPost)="patchEditValue($event)" (emitDeletedId)="onRemovePost($event)" [postObj]="post"
            *ngFor="let post of posts"></app-post-card>
    </div>
</div>